WindowsFormsApp1/Connected Services/ServiceReference1/ServicioFacturacionSincronizacion1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="https://siat.impuestos.gob.bo/" name="ServicioFacturacionSincronizacion" targetNamespace="https://siat.impuestos.gob.bo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="https://siat.impuestos.gob.bo/" elementFormDefault="unqualified" targetNamespace="https://siat.impuestos.gob.bo/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="sincronizarActividades" type="tns:sincronizarActividades" />
      <xs:element name="sincronizarActividadesResponse" type="tns:sincronizarActividadesResponse" />
      <xs:element name="sincronizarFechaHora" type="tns:sincronizarFechaHora" />
      <xs:element name="sincronizarFechaHoraResponse" type="tns:sincronizarFechaHoraResponse" />
      <xs:element name="sincronizarListaActividadesDocumentoSector" type="tns:sincronizarListaActividadesDocumentoSector" />
      <xs:element name="sincronizarListaActividadesDocumentoSectorResponse" type="tns:sincronizarListaActividadesDocumentoSectorResponse" />
      <xs:element name="sincronizarListaLeyendasFactura" type="tns:sincronizarListaLeyendasFactura" />
      <xs:element name="sincronizarListaLeyendasFacturaResponse" type="tns:sincronizarListaLeyendasFacturaResponse" />
      <xs:element name="sincronizarListaMensajesServicios" type="tns:sincronizarListaMensajesServicios" />
      <xs:element name="sincronizarListaMensajesServiciosResponse" type="tns:sincronizarListaMensajesServiciosResponse" />
      <xs:element name="sincronizarListaProductosServicios" type="tns:sincronizarListaProductosServicios" />
      <xs:element name="sincronizarListaProductosServiciosResponse" type="tns:sincronizarListaProductosServiciosResponse" />
      <xs:element name="sincronizarParametricaEventosSignificativos" type="tns:sincronizarParametricaEventosSignificativos" />
      <xs:element name="sincronizarParametricaEventosSignificativosResponse" type="tns:sincronizarParametricaEventosSignificativosResponse" />
      <xs:element name="sincronizarParametricaMotivoAnulacion" type="tns:sincronizarParametricaMotivoAnulacion" />
      <xs:element name="sincronizarParametricaMotivoAnulacionResponse" type="tns:sincronizarParametricaMotivoAnulacionResponse" />
      <xs:element name="sincronizarParametricaPaisOrigen" type="tns:sincronizarParametricaPaisOrigen" />
      <xs:element name="sincronizarParametricaPaisOrigenResponse" type="tns:sincronizarParametricaPaisOrigenResponse" />
      <xs:element name="sincronizarParametricaTipoDocumentoIdentidad" type="tns:sincronizarParametricaTipoDocumentoIdentidad" />
      <xs:element name="sincronizarParametricaTipoDocumentoIdentidadResponse" type="tns:sincronizarParametricaTipoDocumentoIdentidadResponse" />
      <xs:element name="sincronizarParametricaTipoDocumentoSector" type="tns:sincronizarParametricaTipoDocumentoSector" />
      <xs:element name="sincronizarParametricaTipoDocumentoSectorResponse" type="tns:sincronizarParametricaTipoDocumentoSectorResponse" />
      <xs:element name="sincronizarParametricaTipoEmision" type="tns:sincronizarParametricaTipoEmision" />
      <xs:element name="sincronizarParametricaTipoEmisionResponse" type="tns:sincronizarParametricaTipoEmisionResponse" />
      <xs:element name="sincronizarParametricaTipoHabitacion" type="tns:sincronizarParametricaTipoHabitacion" />
      <xs:element name="sincronizarParametricaTipoHabitacionResponse" type="tns:sincronizarParametricaTipoHabitacionResponse" />
      <xs:element name="sincronizarParametricaTipoMetodoPago" type="tns:sincronizarParametricaTipoMetodoPago" />
      <xs:element name="sincronizarParametricaTipoMetodoPagoResponse" type="tns:sincronizarParametricaTipoMetodoPagoResponse" />
      <xs:element name="sincronizarParametricaTipoMoneda" type="tns:sincronizarParametricaTipoMoneda" />
      <xs:element name="sincronizarParametricaTipoMonedaResponse" type="tns:sincronizarParametricaTipoMonedaResponse" />
      <xs:element name="sincronizarParametricaTipoPuntoVenta" type="tns:sincronizarParametricaTipoPuntoVenta" />
      <xs:element name="sincronizarParametricaTipoPuntoVentaResponse" type="tns:sincronizarParametricaTipoPuntoVentaResponse" />
      <xs:element name="sincronizarParametricaTiposFactura" type="tns:sincronizarParametricaTiposFactura" />
      <xs:element name="sincronizarParametricaTiposFacturaResponse" type="tns:sincronizarParametricaTiposFacturaResponse" />
      <xs:element name="sincronizarParametricaUnidadMedida" type="tns:sincronizarParametricaUnidadMedida" />
      <xs:element name="sincronizarParametricaUnidadMedidaResponse" type="tns:sincronizarParametricaUnidadMedidaResponse" />
      <xs:element name="verificarComunicacion" type="tns:verificarComunicacion" />
      <xs:element name="verificarComunicacionResponse" type="tns:verificarComunicacionResponse" />
      <xs:complexType name="sincronizarParametricaMotivoAnulacion">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="solicitudSincronizacion">
        <xs:sequence>
          <xs:element name="codigoAmbiente" type="xs:int" />
          <xs:element minOccurs="0" name="codigoPuntoVenta" nillable="true" type="xs:int" />
          <xs:element name="codigoSistema" type="xs:string" />
          <xs:element name="codigoSucursal" type="xs:int" />
          <xs:element name="cuis" type="xs:string" />
          <xs:element name="nit" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaMotivoAnulacionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaListaParametricas">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCodigos" nillable="true" type="tns:parametricasDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="respuestaConfiguracion">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:modelDto">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="mensajesList" nillable="true" type="tns:mensajeServicio" />
              <xs:element minOccurs="0" name="transaccion" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="modelDto" abstract="true">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:model">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="model" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="parametricasDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoClasificador" type="xs:int" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mensajeServicio">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:modelDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="codigo" type="xs:int" />
              <xs:element minOccurs="0" name="descripcion" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sincronizarActividades">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarActividadesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaActividades" type="tns:respuestaListaActividades" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaListaActividades">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="listaActividades" nillable="true" type="tns:actividadesDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="actividadesDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoCaeb" type="xs:string" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element minOccurs="0" name="tipoActividad" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarFechaHora">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarFechaHoraResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaFechaHora" type="tns:respuestaFechaHora" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaFechaHora" final="extension restriction">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" name="fechaHora" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sincronizarListaLeyendasFactura">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaLeyendasFacturaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricasLeyendas" type="tns:respuestaListaParametricasLeyendas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaListaParametricasLeyendas">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="listaLeyendas" nillable="true" type="tns:parametricaLeyendasDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="parametricaLeyendasDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoActividad" type="xs:string" />
          <xs:element minOccurs="0" name="descripcionLeyenda" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoHabitacion">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoHabitacionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaActividadesDocumentoSector">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaActividadesDocumentoSectorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaActividadesDocumentoSector" type="tns:respuestaListaActividadesDocumentoSector" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaListaActividadesDocumentoSector">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="listaActividadesDocumentoSector" nillable="true" type="tns:actividadesDocumentoSectorDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="actividadesDocumentoSectorDto">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:modelDto">
            <xs:sequence>
              <xs:element minOccurs="0" name="codigoActividad" type="xs:string" />
              <xs:element minOccurs="0" name="codigoDocumentoSector" type="xs:int" />
              <xs:element minOccurs="0" name="tipoDocumentoSector" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoDocumentoIdentidad">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoDocumentoIdentidadResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaUnidadMedida">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaUnidadMedidaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoDocumentoSector">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoDocumentoSectorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTiposFactura">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTiposFacturaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="verificarComunicacion">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="verificarComunicacionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:respuestaComunicacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaComunicacion">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:modelDto">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="mensajesList" nillable="true" type="tns:mensajeServicio" />
              <xs:element minOccurs="0" name="transaccion" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sincronizarListaMensajesServicios">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaMensajesServiciosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoMetodoPago">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoMetodoPagoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaEventosSignificativos">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaEventosSignificativosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoPuntoVenta">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoPuntoVentaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaProductosServicios">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarListaProductosServiciosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaProductos" type="tns:respuestaListaProductos" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="respuestaListaProductos">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:respuestaConfiguracion">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="listaCodigos" nillable="true" type="tns:productosDto" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="productosDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoActividad" type="xs:string" />
          <xs:element minOccurs="0" name="codigoProducto" type="xs:long" />
          <xs:element minOccurs="0" name="descripcionProducto" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="nandina" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoEmision">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoEmisionResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaPaisOrigen">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaPaisOrigenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoMoneda">
        <xs:sequence>
          <xs:element name="SolicitudSincronizacion" type="tns:solicitudSincronizacion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sincronizarParametricaTipoMonedaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="RespuestaListaParametricas" type="tns:respuestaListaParametricas" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="sincronizarActividadesResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarActividadesResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaMotivoAnulacion">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaMotivoAnulacion" />
  </wsdl:message>
  <wsdl:message name="sincronizarActividades">
    <wsdl:part name="parameters" element="ns1:sincronizarActividades" />
  </wsdl:message>
  <wsdl:message name="sincronizarFechaHora">
    <wsdl:part name="parameters" element="ns1:sincronizarFechaHora" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaLeyendasFactura">
    <wsdl:part name="parameters" element="ns1:sincronizarListaLeyendasFactura" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoHabitacion">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoHabitacion" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaActividadesDocumentoSector">
    <wsdl:part name="parameters" element="ns1:sincronizarListaActividadesDocumentoSector" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaPaisOrigenResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaPaisOrigenResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoDocumentoSector">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoDocumentoSector" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoMonedaResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoMonedaResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoMetodoPago">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoMetodoPago" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoHabitacionResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoHabitacionResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaEventosSignificativos">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaEventosSignificativos" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaProductosServicios">
    <wsdl:part name="parameters" element="ns1:sincronizarListaProductosServicios" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoEmision">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoEmision" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaMensajesServiciosResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarListaMensajesServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoMetodoPagoResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoMetodoPagoResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoMoneda">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoMoneda" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoDocumentoIdentidadResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoDocumentoIdentidadResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoDocumentoIdentidad">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoDocumentoIdentidad" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaUnidadMedida">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaUnidadMedida" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaUnidadMedidaResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaUnidadMedidaResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaActividadesDocumentoSectorResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarListaActividadesDocumentoSectorResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoDocumentoSectorResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoDocumentoSectorResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarFechaHoraResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarFechaHoraResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTiposFactura">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTiposFactura" />
  </wsdl:message>
  <wsdl:message name="verificarComunicacion">
    <wsdl:part name="parameters" element="ns1:verificarComunicacion" />
  </wsdl:message>
  <wsdl:message name="verificarComunicacionResponse">
    <wsdl:part name="parameters" element="ns1:verificarComunicacionResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTiposFacturaResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTiposFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaMensajesServicios">
    <wsdl:part name="parameters" element="ns1:sincronizarListaMensajesServicios" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoPuntoVentaResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoPuntoVentaResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoPuntoVenta">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoPuntoVenta" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaProductosServiciosResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarListaProductosServiciosResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaPaisOrigen">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaPaisOrigen" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaMotivoAnulacionResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaMotivoAnulacionResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarListaLeyendasFacturaResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarListaLeyendasFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaEventosSignificativosResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaEventosSignificativosResponse" />
  </wsdl:message>
  <wsdl:message name="sincronizarParametricaTipoEmisionResponse">
    <wsdl:part name="parameters" element="ns1:sincronizarParametricaTipoEmisionResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioFacturacionSincronizacion">
    <wsdl:operation name="sincronizarParametricaMotivoAnulacion">
      <wsdl:input name="sincronizarParametricaMotivoAnulacion" message="ns1:sincronizarParametricaMotivoAnulacion" />
      <wsdl:output name="sincronizarParametricaMotivoAnulacionResponse" message="ns1:sincronizarParametricaMotivoAnulacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarActividades">
      <wsdl:input name="sincronizarActividades" message="ns1:sincronizarActividades" />
      <wsdl:output name="sincronizarActividadesResponse" message="ns1:sincronizarActividadesResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarFechaHora">
      <wsdl:input name="sincronizarFechaHora" message="ns1:sincronizarFechaHora" />
      <wsdl:output name="sincronizarFechaHoraResponse" message="ns1:sincronizarFechaHoraResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarListaLeyendasFactura">
      <wsdl:input name="sincronizarListaLeyendasFactura" message="ns1:sincronizarListaLeyendasFactura" />
      <wsdl:output name="sincronizarListaLeyendasFacturaResponse" message="ns1:sincronizarListaLeyendasFacturaResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoHabitacion">
      <wsdl:input name="sincronizarParametricaTipoHabitacion" message="ns1:sincronizarParametricaTipoHabitacion" />
      <wsdl:output name="sincronizarParametricaTipoHabitacionResponse" message="ns1:sincronizarParametricaTipoHabitacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarListaActividadesDocumentoSector">
      <wsdl:input name="sincronizarListaActividadesDocumentoSector" message="ns1:sincronizarListaActividadesDocumentoSector" />
      <wsdl:output name="sincronizarListaActividadesDocumentoSectorResponse" message="ns1:sincronizarListaActividadesDocumentoSectorResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoDocumentoIdentidad">
      <wsdl:input name="sincronizarParametricaTipoDocumentoIdentidad" message="ns1:sincronizarParametricaTipoDocumentoIdentidad" />
      <wsdl:output name="sincronizarParametricaTipoDocumentoIdentidadResponse" message="ns1:sincronizarParametricaTipoDocumentoIdentidadResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaUnidadMedida">
      <wsdl:input name="sincronizarParametricaUnidadMedida" message="ns1:sincronizarParametricaUnidadMedida" />
      <wsdl:output name="sincronizarParametricaUnidadMedidaResponse" message="ns1:sincronizarParametricaUnidadMedidaResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoDocumentoSector">
      <wsdl:input name="sincronizarParametricaTipoDocumentoSector" message="ns1:sincronizarParametricaTipoDocumentoSector" />
      <wsdl:output name="sincronizarParametricaTipoDocumentoSectorResponse" message="ns1:sincronizarParametricaTipoDocumentoSectorResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTiposFactura">
      <wsdl:input name="sincronizarParametricaTiposFactura" message="ns1:sincronizarParametricaTiposFactura" />
      <wsdl:output name="sincronizarParametricaTiposFacturaResponse" message="ns1:sincronizarParametricaTiposFacturaResponse" />
    </wsdl:operation>
    <wsdl:operation name="verificarComunicacion">
      <wsdl:input name="verificarComunicacion" message="ns1:verificarComunicacion" />
      <wsdl:output name="verificarComunicacionResponse" message="ns1:verificarComunicacionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarListaMensajesServicios">
      <wsdl:input name="sincronizarListaMensajesServicios" message="ns1:sincronizarListaMensajesServicios" />
      <wsdl:output name="sincronizarListaMensajesServiciosResponse" message="ns1:sincronizarListaMensajesServiciosResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoMetodoPago">
      <wsdl:input name="sincronizarParametricaTipoMetodoPago" message="ns1:sincronizarParametricaTipoMetodoPago" />
      <wsdl:output name="sincronizarParametricaTipoMetodoPagoResponse" message="ns1:sincronizarParametricaTipoMetodoPagoResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaEventosSignificativos">
      <wsdl:input name="sincronizarParametricaEventosSignificativos" message="ns1:sincronizarParametricaEventosSignificativos" />
      <wsdl:output name="sincronizarParametricaEventosSignificativosResponse" message="ns1:sincronizarParametricaEventosSignificativosResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoPuntoVenta">
      <wsdl:input name="sincronizarParametricaTipoPuntoVenta" message="ns1:sincronizarParametricaTipoPuntoVenta" />
      <wsdl:output name="sincronizarParametricaTipoPuntoVentaResponse" message="ns1:sincronizarParametricaTipoPuntoVentaResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarListaProductosServicios">
      <wsdl:input name="sincronizarListaProductosServicios" message="ns1:sincronizarListaProductosServicios" />
      <wsdl:output name="sincronizarListaProductosServiciosResponse" message="ns1:sincronizarListaProductosServiciosResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoEmision">
      <wsdl:input name="sincronizarParametricaTipoEmision" message="ns1:sincronizarParametricaTipoEmision" />
      <wsdl:output name="sincronizarParametricaTipoEmisionResponse" message="ns1:sincronizarParametricaTipoEmisionResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaPaisOrigen">
      <wsdl:input name="sincronizarParametricaPaisOrigen" message="ns1:sincronizarParametricaPaisOrigen" />
      <wsdl:output name="sincronizarParametricaPaisOrigenResponse" message="ns1:sincronizarParametricaPaisOrigenResponse" />
    </wsdl:operation>
    <wsdl:operation name="sincronizarParametricaTipoMoneda">
      <wsdl:input name="sincronizarParametricaTipoMoneda" message="ns1:sincronizarParametricaTipoMoneda" />
      <wsdl:output name="sincronizarParametricaTipoMonedaResponse" message="ns1:sincronizarParametricaTipoMonedaResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>