WindowsFormsApp1/Connected Services/FirmaDigital/SignDocument.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.prodemsign.bo.prodem.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SignDocument" targetNamespace="http://services.prodemsign.bo.prodem.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.prodemsign.bo.prodem.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetDocumentSign" type="tns:GetDocumentSign" />
      <xs:element name="GetDocumentSignResponse" type="tns:GetDocumentSignResponse" />
      <xs:element name="hello" type="tns:hello" />
      <xs:element name="helloResponse" type="tns:helloResponse" />
      <xs:complexType name="GetDocumentSign">
        <xs:sequence>
          <xs:element minOccurs="0" name="Certificate" type="xs:string" />
          <xs:element minOccurs="0" name="Content" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetDocumentSignResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:resulSign" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resulSign">
        <xs:sequence>
          <xs:element name="isValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="resul" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="hello">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="helloResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetDocumentSignResponse">
    <wsdl:part name="parameters" element="tns:GetDocumentSignResponse" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSign">
    <wsdl:part name="parameters" element="tns:GetDocumentSign" />
  </wsdl:message>
  <wsdl:message name="hello">
    <wsdl:part name="parameters" element="tns:hello" />
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part name="parameters" element="tns:helloResponse" />
  </wsdl:message>
  <wsdl:portType name="SignDocument">
    <wsdl:operation name="GetDocumentSign">
      <wsdl:input name="GetDocumentSign" message="tns:GetDocumentSign" />
      <wsdl:output name="GetDocumentSignResponse" message="tns:GetDocumentSignResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
    <wsdl:operation name="hello">
      <wsdl:input name="hello" message="tns:hello" />
      <wsdl:output name="helloResponse" message="tns:helloResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SignDocumentSoapBinding" type="tns:SignDocument">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentSign">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetDocumentSign">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDocumentSignResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="hello">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SignDocument">
    <wsdl:port name="SignDocumentPort" binding="tns:SignDocumentSoapBinding">
      <soap:address location="http://192.168.165.25:8080/ProdemSign.Services/SignDocument" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>